<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel" style="color:#1e1e1e">Ready to Sign out?</h6>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div style="background-color:white; color:black">
        <div class="modal-body">Select "Sign out" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <a class="btn btn col-5 mx-auto" href="/signout" style="background-color:#4154f1;color:white">Sign out</a>
          <button class="btn btn-secondary  col-5 mx-auto" type="button" data-dismiss="modal">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</div>